body {
  background-color: #EFFFFD;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #488FB1;
  border-width: 5px;
  width: 30%;
  overflow: visible;
  text-align: center;
}

hr:after {
    background: #EFFFFD;
    content: '🎮';
    padding: 0 4px;
    position: relative;
    top: -16px;
}

h1 {
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}
